{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>FPL</title>
{% endblock %}

{% block body %}
<div class="container-fluid mb-2 mt-3 pl-5 pr-5">
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-9 col-md-8 col-sm-6 col-12 ">
            <h3 class="background text-light text-center p-2 mt-1"> Shop Section</h3>
            <div class="row">
                {% for i in Product %}
                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="card mb-2">
                        {% if i.pic1 %}
                        <a href="/singleproduct/{{i.id}}"><img src="{{i.pic1.url}}" width="150px" height="150px" class="card-img-top"
                                alt="..."></a>
                        {% else %}
                        <a href="/singleproduct/{{i.id}}"><img src="{% static 'images/noimagep.png' %}" height="300px"
                                width="300px"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <p class="card-text">Price : <del>&#8377;{{i.baseprice}}</p>
                            <p class="card-text">Term : {{i.term}}%</p>
                            <p class="card-text">Daily income : {{i.income}}%</p>
                            <p class="card-text">Total Earning: {{i.totalrevenue}}%</p>
                            <a href="/singleproduct/{{i.id}}" class="btn background text-light w-100">Buy Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}